*{
  box-sizing:border-box;
}

body{
  margin:0;
  padding:10px;
  overflow-x:hidden;
}

input{
  width:60%;
  height:30px;
}

#search{
  width:100px;
  height:35px;
  background:blue;
  color:white;
}

div{
  width:280px;
  height:380px;
  margin:25px auto;
  background-size:contain !important;
  background-position:center;
  background-repeat:no-repeat;
}

#box1{background-image:url("ip.jpeg");}
#box2{background-image:url("17pro.jpeg");}
#box3{background-image:url("17promax.jpeg");}
#box4{background-image:url("ip18.jpeg");}
#box5{background-image:url("18pro.jpeg");}
#box6{background-image:url("18pro_max.jpg");}

h2,h3{
  text-align:center;
  margin:10px 0;
}

button{
  display:block;
  margin:10px auto 35px;
  width:120px;
  height:40px;
  background:blue;
  color:white;
}

footer{
  background:black;
  color:white;
  text-align:center;
  padding:25px;
  margin-top:30px;
}