*{
  box-sizing:border-box;
}

body{
  margin:0;
  padding:10px;
  font-family:Arial, sans-serif;
}

.search-box{
  display:flex;
  gap:5px;
  margin-bottom:20px;
}

.search-box input{
  flex:1;
  height:35px;
}

.search-box button,
.card button{
  background:blue;
  color:white;
  border:none;
  padding:10px 25px;
}

.products{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap:30px;
}

.card{
  text-align:center;
}

.card img{
  width:100%;
  max-width:300px;
  height:auto;
}

footer{
  margin-top:40px;
  background:black;
  color:white;
  text-align:center;
  padding:25px;
}

@media(max-width:768px){
  .products{
    grid-template-columns:1fr;
  }

  .card img{
    max-width:280px;
  }
}